<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="shortcut icon" href="~/Content/Images/icons/icon-48x48.png" />

    <title>The Charted Company</title>

    <link href="~/Content/CSS/app.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">MANIAN & RAO</span>
                    <label style="font-size: 12px">Chartered Accountants</label>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>


                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="Payroll">
                            <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Payroll Management</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="LeaveManagement">
                            <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Leave Management</span>
                        </a>
                    </li>

                </ul>


            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex">
                    <i class="hamburger align-self-center"></i>
                </a>

                <form class="d-none d-sm-inline-block">
                    <div class="input-group input-group-navbar">
                        
                    </div>
                </form>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                           
                        </li>
                        <li class="nav-item dropdown">
                          
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                                <img src="~/Content/Images/avatars/avatar-3.jpg" class="avatar img-fluid rounded mr-1" alt="Charles Hall" /> <span class="text-dark">HR Login</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="AddEmployee"><i class="align-middle mr-1" data-feather="users"></i> Manage Employees</a>
                                <a class="dropdown-item" href="Holidays"><i class="align-middle mr-1" data-feather="clock"></i> Manage Holidays</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="Setting"><i class="align-middle mr-1" data-feather="settings"></i> Settings</a>
                                <a class="dropdown-item" href="Help"><i class="align-middle mr-1" data-feather="help-circle"></i> Help Center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row mb-2 mb-xl-3">
                        <div class="col-auto d-none d-sm-block">
                            <h3>Help line</h3>
                        </div>

                        <!-- <div class="col-auto ml-auto text-right mt-n1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                    <li class="breadcrumb-item"><a href="#">AdminKit</a></li>
                    <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Analytics</li>
                </ol>
            </nav>
        </div> -->
                    </div>
                    <div class="card">

                        <div class="card-body">
                            <div> Name: Goutam Kamath</div></br>
                            <div>
                                Phone Number: 8073741670
                            </div></br>
                            <div>
                                Email ID: goutamkamath94@gmail.com
                            </div>
                        </div>
                    </div>


                 

                    <div class="row">

                        <!-- <div class="col-12 col-lg-4 col-xxl-3 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Monthly Sales</h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                        <canvas id="chartjs-dashboard-bar"></canvas>
                    </div>
                </div>
            </div>
        </div> -->
                    </div>

                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-left">
                            <p class="mb-0">
                                <a href="../Home/Payroll" class="text-muted"><strong>MyChartedCompany</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="Help">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="Help">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
   
    <script src="~/Scripts/app.js"></script>

   

</body>

</html>


<script>


    function validateIsRequiredFields(param) {
        param === undefined ? param = "" : param;
        // var elem = document.getElementsByTagName('input');
        var elem = document.forms[param + "PayrollForm"].elements;
        for (i = 0; i < elem.length; i++) {
            if (elem[i].hasAttribute('required')) {
                if (elem[i].getAttribute('type') == 'checkbox') {
                    if (elem[i].checked) {
                        elem[i].classList.remove("is-invalid");
                        elem[i].classList.add("is-valid");
                    }
                    else {
                        elem[i].classList.remove("is-valid");
                        elem[i].classList.add("is-invalid");
                    }

                }

                else {

                    if (elem[i].value.length == 0 || elem[i].value == "DEF" || elem[i].value == "0") {
                        elem[i].classList.remove("is-valid");
                        elem[i].classList.add("is-invalid");

                    }
                    else {
                        elem[i].classList.remove("is-invalid");
                        elem[i].classList.add("is-valid");

                    }

                }
            }
        }
    }

  

    </script>
