
<!DOCTYPE html>
<html lang="en">
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: -2.5px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    .buttons-excel {
        left: 500% !important;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="shortcut icon" href="~/Content/Images/icons/icon-48x48.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src=" https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>


    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>




    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

    <title>The Charted Company</title>

    <link href="~/Content/CSS/app.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">MANIAN & RAO</span>
                    <label style="font-size: 12px">Chartered Accountants</label>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>


                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="Payroll">
                            <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Payroll Management</span>
                        </a>
                    </li>
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="LeaveManagement">
                            <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Leave Management</span>
                        </a>
                    </li>


                </ul>


            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex">
                    <i class="hamburger align-self-center"></i>
                </a>

                <form class="d-none d-sm-inline-block">
                    <div class="input-group input-group-navbar">
                        
                    </div>
                </form>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            
                        </li>
                        <li class="nav-item dropdown">
                           
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                                <img src="~/Content/Images/avatars/avatar-3.jpg" class="avatar img-fluid rounded mr-1" alt="Charles Hall" /> <span class="text-dark">HR Login</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="AddEmployee"><i class="align-middle mr-1" data-feather="users"></i> Manage Employees</a>
                                <a class="dropdown-item" href="Holidays"><i class="align-middle mr-1" data-feather="clock"></i> Manage Holidays</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="Setting"><i class="align-middle mr-1" data-feather="settings"></i> Settings</a>
                                <a class="dropdown-item" href="Help"><i class="align-middle mr-1" data-feather="help-circle"></i> Help Center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content" style="background-image: url('/Content/Images/Employees.jpg')">
                <div class="container-fluid p-0">

                    <div class="row mb-2 mb-xl-3">
                        <div class="col-auto d-none d-sm-block">
                            <h3><b>Leave Management</b></h3>
                        </div>

                        <!-- <div class="col-auto ml-auto text-right mt-n1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                    <li class="breadcrumb-item"><a href="#">AdminKit</a></li>
                    <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Analytics</li>
                </ol>
            </nav>
        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill" style="box-shadow: 2px 2px 2px 2px #D9D9D9">
                                <div class="card-body">

                                    Credit <input style="width: 9%;position: relative;top: -37%;left: 4%;" type="text" name="massLeaves" class="form-control is-invalid" id="massLeaves"
                                                  placeholder="Leaves#" aria-describedby="exampleInputRole-error" oninput="validateIsRequiredFields()"
                                                  autocomplete="off" required /><span style="position: relative;top: -72%;left: 14%;" >Leaves for Everyone</span>
</div>
                                <div> <label onclick="creditLeaves()" class="float-left btn btn-primary" style="position: relative;top: -72%;left: 2%;">Credit</label></div>
                               
                            </div>
                        </div>
                        
                    </div>

                    <div class="modal fade" id="DescModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:148%;left:-17%;margin-top:23% !important">
                                <div class="modal-header">

                                    <h3 class="modal-title" id="headerForBranchName">Employee Details</h3>

                                </div>
                                <div class="modal-body">
                                    <h5 class="text-center"></h5>
                                    <form role="form" id="editingPayrollForm" novalidate="novalidate">
                                        <div class="row">



                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="UserName">Employee Name*</label>
                                                    <input type="text" name="UserName" class="form-control is-invalid" id="UserName"
                                                           placeholder="Enter Name" aria-describedby="UserName-error"
                                                           autocomplete="off" required />

                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Leaves">Leaves Accumulated*</label>
                                                    <input type="text" name="Leaves" class="form-control is-invalid" id="Leaves"
                                                           placeholder="Enter Leaves" aria-describedby="Leaves-error"
                                                           autocomplete="off" required />

                                                </div>
                                            </div>








                                        </div>
                                        </br> </br>
                                        <div class="row">




                                        </div>
                                        </br>
                                        <div>

                                            <label onclick="SaveLeaves()" class="float-left btn btn-primary">Save</label>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill" style="box-shadow: 2px 2px 2px 2px #D9D9D9">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Employee List</h5>
                                </div>
                                <table id="EmployeeTable" class="table table-hover my-0">
                                    <thead class="bg-gray-light">
                                        <tr class="text-gray-dark">

                                            <th class="d-none d-xl-table-cell">Action</th>
                                            <th class="d-none d-xl-table-cell">Name</th>
                                            <th class="d-none d-xl-table-cell">Leaves Accumulated</th>
                                            <th class="d-none d-xl-table-cell">Type</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>

                                            <th class="d-none d-xl-table-cell" style="display:none !important">Action</th>
                                            <th class="d-none d-xl-table-cell" style="display:none !important">Name</th>
                                            <th class="d-none d-xl-table-cell" style="display:none !important">Leaves Accumulated</th>
                                            <th class="d-none d-xl-table-cell" style="display:none !important">Type</th>



                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-lg-4 col-xxl-3 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Monthly Sales</h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                        <canvas id="chartjs-dashboard-bar"></canvas>
                    </div>
                </div>
            </div>
        </div> -->
                    </div>

                    <div class="row">

                        <!-- <div class="col-12 col-lg-4 col-xxl-3 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Monthly Sales</h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                        <canvas id="chartjs-dashboard-bar"></canvas>
                    </div>
                </div>
            </div>
        </div> -->
                    </div>

                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-left">
                            <p class="mb-0">
                                <a href="../Home/Payroll" class="text-muted"><strong>MyChartedCompany</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="Help">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="Help">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
   
    <script src="~/Scripts/app.js"></script>

    
   
  

</body>

</html>


<script>

    function SaveLeaves() {
       
      
        $.ajax({
            url: "../Home/SaveLeaves", // endpoint
            type: "POST",

            data: { "name": document.getElementById("UserName").value, "leavesrepo": document.getElementById("Leaves").value },

          
            success: function (result) {

                if (result) {

                    window.location.reload();
                }
                // success
            },
            error: function (errorData) { alert(errorData) }
        });




    }



    function validateIsRequiredFields(param) {
        param === undefined ? param = "" : param;
        // var elem = document.getElementsByTagName('input');
        var elem = document.getElementById("massLeaves").value;
       
            

        if (elem.length == 0 || elem == "DEF" || elem == "0" || elem == null) {
            document.getElementById("massLeaves").classList.remove("is-valid");
            document.getElementById("massLeaves").classList.add("is-invalid");

                    }
                    else {
            document.getElementById("massLeaves").classList.remove("is-invalid");
            document.getElementById("massLeaves").classList.add("is-valid");

                    }

                
            
        
    }


    $(document).ready(function () {
    $.ajax({
        url: '../Home/GetOnlyEmployeeList',
        method: 'Get',
        //data: { ddlid: '01' },          // this is input parameter for your function
        dataType: 'json',
        contentType: 'text/json',
        success: function (res) {

            var data = [];
            for (var i = 0; i < res.length; i++) {

                data.push(['<i onclick=funtnEditEmployee(' + res[i]["Id"] + ') class="fa fa-pen faa-wrench">    Edit</i>', res[i]["Name"],res[i]["Leaves"], res[i]["Type"]]);
            }

            //End Test Data

            t = $("#EmployeeTable").DataTable({

                "dom": "<'row'<'col-md-6'B><'col-md-1'r><'col-md-3'f><'col-md-1'l>A>" +
                    "<'row'<'col-md-12't>><'row'<'col-md-6'i><'col-md-6'p>>",

                "data": data,

                //"alphabetSearch": {
                //    "column": 2
                //},

                "select": {
                    "style": 'multi',
                    "selector": 'td:first-child'
                },

                "paging": true,
                "deferRender": true,
                "responsive": true,
                'info': true,
                "lengthMenu": [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "All"]
                ],
                "autoWidth": false,
                "order": [
                    [1, "asc"]
                ],
                "buttons": [
                    {
                        extend: 'excel',
                        text: 'Export to Excel',
                        exportOptions: {
                            modifier: {
                                page: 'current'
                            },
                            columns: [1, 2, 3]
                        },

                        style: "left:500%;"
                    }
                ],
                
                "fixedHeader": {
                    "header": true,
                    //"footer": true,
                    "headerOffset": $('#nav-bar-id').innerHeight(),
                },

                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                }

            });

            // t.on('order.dt search.dt', function () {
            //     t.column(1, {
            //         search: 'applied',
            //         order: 'applied'
            //     }).nodes().each(function (cell, i) {
            //         cell.innerHTML = i + 1;
            //     });
            //
            // }).draw();


        }
    });
    });

    function funtnEditEmployee(data) {
         $('#DescModal').modal("show");


                     $.ajax({
                cache: false,
                type: "Get",
                         url: '../Home/GetOnlyEmployeeList',
                         data: { "ID": data, "subregParamYN": "N"  },
                         success: function (json) {
                             window.empId=data;
                             $('#Leaves').val(json[0]["Leaves"]);
                             $('#UserName').val(json[0]["Name"]);
                           
                           
                             document.getElementById('UserName').classList.remove("is-invalid");
                             document.getElementById('UserName').classList.add("is-valid");
                             document.getElementById('Leaves').classList.remove("is-invalid");
                             document.getElementById('Leaves').classList.add("is-valid");
                            
                            


                },
                error: function () {
                    alert("Data Not Found");
                }
            });

    }

    function salaryToggle(element) {
        var hieIds = '';
        var multisel = 0;
        var hieIdsarray = new Array();
        if (element.checked) {
           
           
            getSalaryByDoj(document.getElementById('DateOfJoin').value);
           
            
        }
        else {
            
            if (document.getElementById('Salary').value == 0 || document.getElementById('Salary').value.length==0) {
                $("#Salary").removeClass("is-valid");
                $("#Salary").addClass("is-invalid");
            }
            $("#Salary").prop("disabled", false);

        }
    }

    function funtnDeleteEmployee(data) {
        $.ajax({
            cache: false,
            type: "Get",
            url: '../Home/DeleteEmployeeList',
            data: { "ID": data },
            success: function (json) {
                window.location.reload();

            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }

    function getSalaryByDoj(doj) {
        $.ajax({
            cache: false,
            type: "Get",
            url: '../Home/GetSalaryByJoiningDate',
            data: { "doj": doj },
            success: function (json) {
                document.getElementById('Salary').value = (json);
                $("#Salary").removeClass("is-invalid");
                $("#Salary").addClass("is-valid");
                $("#Salary").prop("disabled", true);
            },
            error: function () {
                alert("Data Not Found");
            }
        });

    }

    function dojchanged(param) {
        param === undefined ? param = "" : param;
        var elem = document.forms[param + "PayrollForm"].elements;
        for (i = 0; i < elem.length; i++) {
            if (elem[i].hasAttribute('required')) {
                if (elem[i].getAttribute('type') == 'checkbox') {
                    if (elem[i].checked) {
                        elem[i].classList.remove("is-invalid");
                        elem[i].classList.add("is-valid");
                    }
                    else {
                        elem[i].classList.remove("is-valid");
                        elem[i].classList.add("is-invalid");
                    }

                }

                else {

                    if (elem[i].value.length == 0 || elem[i].value == "DEF" || elem[i].value == "0") {
                        elem[i].classList.remove("is-valid");
                        elem[i].classList.add("is-invalid");

                    }
                    else {
                        elem[i].classList.remove("is-invalid");
                        elem[i].classList.add("is-valid");

                    }

                }
            }
        }

        if (document.getElementById('DateOfJoin').value.length > 0 && document.getElementById("AutoSalaryCheckBox").checked ){
            getSalaryByDoj(document.getElementById('DateOfJoin').value);
            

        }
        
        if (document.getElementById('DateOfJoin').value.length > 0) {
            $("#AutoSalaryCheckBox").prop("disabled", false);
        }
        else {
            $("#AutoSalaryCheckBox").prop("disabled", true);
            if (document.getElementById("AutoSalaryCheckBox").checked == true) {
                document.getElementById("AutoSalaryCheckBox").checked = false;
                document.getElementById("Salary").value=null;
                $("#Salary").prop("disabled", false);
                document.getElementById("Salary").classList.remove("is-valid");
                document.getElementById("Salary").classList.add("is-invalid");
            }
           
           
        }



    }
    function creditLeaves() {
       

        $.ajax({
            cache: false,
            type: "post",
            url: '../Home/creditfixedleaves',
            data: { "leaves": document.getElementById("massLeaves").value },
            success: function (json) {
               
                if (json) {
                    window.location.reload();
                }
            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }



</script>
